@tailwind base;
@tailwind components;
@tailwind utilities;

@import "bootstrap-icons/font/bootstrap-icons.css";

.ban-text {
    padding: 20px;
}

.ban-footer {
    padding: 10px;
    border-radius: 0px 0px 12px 12px;
    background: #eef0f6;
}

.ban-box {
    border-radius: 12px;
    border: 0px solid #f5c6cb;
    background: rgba(248, 215, 218, 0.8);
    /* padding: 20px; */
}

.blur-img {
    box-shadow: 0px 4px 100px 124px #dcdcdc;
}

.side-bar {
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.35) 0%,
        rgba(105, 75, 189, 0.41) 95.27%
    );
}

.logo-color {
    background: var(
        --Blended,
        linear-gradient(90deg, #9b6ad3 0%, #694bbd 95.27%)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
